* {
    margin: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    min-height: 100vh;
}

header {
    background-color: green;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
}

footer {
    position: relative;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
}

main {
    min-height: calc(100% - 81px);
    max-width: 800px;
    margin: 0 auto;
    display: flex;
}

aside {
    background-color: red;
    padding: 20px 40px;
    padding-right: 20px;
    min-width: 120px;
}

a { 
    color: white;
}

a:hover {
    background-color: green;
}

p {
    height: fit-content;
    padding: 20px;
    line-height: 120%;
}

p::first-letter {
    font-size: 24px;
    color: red;
}

nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

::selection {
    background-color: green;
    color: white;
}